@media screen and (max-width: 780px) {
  .d-explore {
    display: none;
    margin: auto;
  }
}
@media screen and (min-width: 780px) {
  .d-exploreSmall {
    display: none;
    margin: auto;
  }
}
.text-auc {
  color: #01b2ee;
}
.container-me {
  max-width: 100%;
  margin: 12px;
}
.p-text {
  text-align: start;
  flex: 1;
  margin-top: 20px;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  color: #4f5864;
  word-break: break-word;
}

@media screen and (max-width: 1087px) {
  .p-text {
    text-align: center;
  }
  .to-margin {
    margin-top: 100px;
  }
}
